<h1 class="text-center"><%= t('.title') %> </h1>
<%= render partial: 'form', locals: {product: @product, company: @company, url: user_company_product_path(@company.token), button_text: 'Atualizar'}%>




