<h1>Pagina de gerenciamento de metodos de pagamento</h1>
  <div class="card border border-5 mt-3" style="width: 27rem;">
  <div class="card-body">

<% @payment_methods.each do |payment_method| %>
  <% if payment_method.icon.attached? %>
<%= image_tag payment_method.icon, size: '25' %>
<% end %>
<%= link_to payment_method.name, [:admin, payment_method] %>
<% end %>


<%= link_to 'Cadastrar Metodo de Pagamento', new_admin_payment_method_path, class:"btn btn-outline-dark" %>
<%= link_to 'Voltar', admin_root_path, class:"btn btn-outline-dark" %>

