@import 'bootstrap/dist/css/bootstrap';


* {
	margin: 0;
	padding: 0;
  text-decoration: none;
	vertical-align: baseline;
}
li { list-style: none;}

$error-text-color: #B94A48;
$success-text-color: #468847;


.logo {
  font-family: 'Monoton', cursive;
  font-size: large;
  color:white;
  font-weight: 2.5em;
  text-decoration: none;
  &:hover{
    color:green;
  }
}

.error-message {
  margin-left: 5px;
  display: inline;
  color: #B94A48;
 }

 .field_with_errors {
  display: inline;

  label{color: #B94A48;}

  input[type=text], input[type=password], textarea{
    border: 1px solid rgba(189,74,72,0.5);

    &:focus {border: 1px solid rgba(189,74,72,0.6);}
  }
}